* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


/* Utilities */

.container {
    max-width: 80%;
    margin: 0 auto;
}

.wrapper {
    height: 100vh;
    width: 100vw;
}

.icon-medium {
    font-size: 25px;
}

.icon {
    color: white;
    margin: 5px 0;
}

img {
    height: 200px;
}

h3 {
    margin: 20px 35px;
    color: white;
    font-weight: 900;
}


/******* MAIN *******/

main {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: row;
}


/* Main-Header */

.main-header {
    flex-basis: 70px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding: 5px 0;
}


/* Main-Body */

.main-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


/* Top Main Body */

.top-main-body {
    flex-basis: 80px;
    position: relative;
    background-color: #000000;
}

.button-upgrade {
    color: white;
    border: 1px solid white;
    padding: 15px 40px;
    border-radius: 30px;
    font-size: 12px;
    position: absolute;
    top: 10px;
    right: 10px;
}


/* Down Main Body */

.down-main-body {
    flex-grow: 1;
    background-color: #141922;
    overflow: auto;
}

.options {
    margin-top: 10px;
    display: flex;
    height: 70px;
    flex-wrap: wrap;
    justify-content: center;
}

.option {
    font-size: 14px;
    margin-right: 30px;
    color: #616369;
    font-weight: 700;
}

.album {
    width: calc(50% - 20px);
    margin: 10px;
    float: left;
    text-align: center;
}

.title {
    font-size: 14px;
    color: white;
}

.subtitle {
    font-size: 13px;
    color: #616369;
}


/****** FOOTER******/

footer {
    height: 80px;
    background-color: red;
}


/****** CSS MEDIA QUERY ******/

@media screen and (min-width: 575px) {}