* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


/* Utilities */

.container {
    max-width: 80%;
    margin: 0 auto;
}

.wrapper {
    height: 100vh;
    width: 100vw;
}


/******* MAIN *******/

main {
    height: calc(100% - 100px);
    display: flex;
}


/* Main-Header */

.main-header {
    flex-basis: 100px;
    background-color: gray;
}


/* Main-Body */

.main-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: greenyellow;
}

.top-main-body {
    flex-basis: 150px;
    background-color: dodgerblue;
}

.down-main-body {
    flex-grow: 1;
    background-color: brown;
}


/****** FOOTER******/

footer {
    height: 100px;
    background-color: red;
}


/****** CSS MEDIA QUERY ******/

@media screen and (min-width: 575px) {}